h1{
  margin: 10px;
}
.panel-line {
  text-align: center;
}

.pointer-table {
  background-repeat: no-repeat;
  background-size: 800px 800px;
  background-color: yellowgreen;
  height: 800px;
  top: 100px;
  left: 0px;
  margin: auto;
}

.panel-pointer td.pointer {
  border: 0px hidden #bbbb1155;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  /* background: #bbbb1155; */
}

.panel-control {
  text-align: center;
  margin: 5px 5px;
  padding: 0;
}

.control-card {
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px 4px;
  margin: 0px 5px;
  padding: 0px;
  width: 100px;
  height: 100px;
}

.card-title {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: blue;
  color: white;
}

.card-body {
  display: block;
  height: 50px;
  line-height: 50px;
}

.btn {
  border: 1px solid black;
  width: 80px;
  height: 30px;
}

.btn.visible {
  background-color: rgb(0, 200, 0);
}

.stone {
  display: block;
  margin: auto;
  padding: auto;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 0.5rem;
}

.stone.white {
  background-image: radial-gradient(
    farthest-corner at 75% 80%,
    white,
    #dddddd,
    #bbbbbb,
    #999999
  );
  color: black;
}

.stone.black {
  background-image: radial-gradient(
    farthest-corner at 75% 80%,
    white,
    gray,
    black,
    black
  );
  color: white;
}

.stone-next {
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.stone-next.white{
  background-image: radial-gradient(
    farthest-corner at 75% 80%,
    white,
    #dddddd,
    #bbbbbb,
    #999999
  );
  color: black;
}

.stone-next.black{
  background-image: radial-gradient(
    farthest-corner at 75% 80%,
    white,
    gray,
    black,
    black
  );
  color: white;
}
